
    <!-- Static navbar -->
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'home' %}">Uttarakhand Travel and Tourism</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
            <li><a href="{% url 'contact' %}">Contact</a></li>
            <li><a href="{% url 'gallery' %}">Gallery</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Districts <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Almora</a></li>
                <li><a href="#">Bageshwar</a></li>
                <li><a href="#">Chamoli</a></li>
               <!-- <li role="separator" class="divider"></li>
                <li class="dropdown-header">Nav header</li> -->
                <li><a href="#">Champawat</a></li>
                <li><a href="#">Dehradun</a></li>
                <li><a href="#">Haridwar</a></li>
                <li><a href="#">Nainital</a></li>
                <li><a href="#">Pauri Garhwal</a></li>
                <li><a href="#">Pithoragarh</a></li>
                <li><a href="#">Rudraprayag</a></li>
                <li><a href="#">Tehri Garhwal</a></li>
                <li><a href="#">Udham Singh Nagar</a></li>
                <li><a href="#">Uttarkashi</a></li>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="../navbar/">Default</a></li>
            <li class="active"><a href="./">Static top <span class="sr-only">(current)</span></a></li>
            <li><a href="../navbar-fixed-top/">Fixed top</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>